Salesforce/main/default/flows/Account_Coordenador_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Agregar_Brasmax</name>
        <label>Agregar Brasmax</label>
        <locationX>688</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>Coordenadores_Modificados</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BRMX</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cambio_Coordenador_DonMario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_Dagma</name>
        <label>Agregar Dagma</label>
        <locationX>677</locationX>
        <locationY>1104</locationY>
        <assignmentItems>
            <assignToReference>Coordenadores_Modificados</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>DAGMA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cambio_Coordenador_Licencas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_DonMario</name>
        <label>Agregar DonMario</label>
        <locationX>682</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>Coordenadores_Modificados</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>DSEM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cambio_Coordenador_Neogen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_Licencas</name>
        <label>Agregar Licenças</label>
        <locationX>501</locationX>
        <locationY>1433</locationY>
        <assignmentItems>
            <assignToReference>Coordenadores_Modificados</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LICENÇAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Opps_Relacionadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_Neogen</name>
        <label>Agregar Neogen</label>
        <locationX>681</locationX>
        <locationY>882</locationY>
        <assignmentItems>
            <assignToReference>Coordenadores_Modificados</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NEOG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cambio_Coordenador_Dagma</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cambio_Coordenador_Brasmax</name>
        <label>Cambió Coordenador Brasmax?</label>
        <locationX>491</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Cambio_Coordenador_DonMario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoordenadorBrasmax__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_Brasmax</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cambio_Coordenador_Dagma</name>
        <label>Cambió Coordenador Dagma?</label>
        <locationX>492</locationX>
        <locationY>1014</locationY>
        <defaultConnector>
            <targetReference>Cambio_Coordenador_Licencas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoordenadorDagma__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_Dagma</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cambio_Coordenador_DonMario</name>
        <label>Cambió Coordenador DonMario?</label>
        <locationX>491</locationX>
        <locationY>593</locationY>
        <defaultConnector>
            <targetReference>Cambio_Coordenador_Neogen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoordenadorDonMario__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_DonMario</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cambio_Coordenador_Licencas</name>
        <label>Cambió Coordenador Licenças</label>
        <locationX>492</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Opps_Relacionadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoordenadorLicencas__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_Licencas</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cambio_Coordenador_Neogen</name>
        <label>Cambió Coordenador Neogen?</label>
        <locationX>491</locationX>
        <locationY>804</locationY>
        <defaultConnector>
            <targetReference>Cambio_Coordenador_Dagma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoordenadorNeogen__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_Neogen</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <interviewLabel>Account Coordenador Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Coordenador Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Cambio_Coordenador_Brasmax</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CoordenadorBrasmax__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CoordenadorDonMario__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CoordenadorNeogen__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CoordenadorDagma__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CoordenadorLicencas__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Actualizar_Contratos_de_Multiplicacion_Relacionados</name>
        <label>Actualizar Contratos de Multiplicación Relacionados</label>
        <locationX>884</locationX>
        <locationY>1434</locationY>
        <flowName>Actualizar_Contratos_de_Multiplicacion_Relacionados</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Coordenadores_Modificados</name>
            <value>
                <elementReference>Coordenadores_Modificados</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Actualizar_Opps_Relacionadas</name>
        <label>Actualizar Opps Relacionadas</label>
        <locationX>703</locationX>
        <locationY>1434</locationY>
        <connector>
            <targetReference>Actualizar_Contratos_de_Multiplicacion_Relacionados</targetReference>
        </connector>
        <flowName>Actualizar_Opps_Relacionadas</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Coordenadores_Modificados</name>
            <value>
                <elementReference>Coordenadores_Modificados</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Coordenadores_Modificados</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
