Salesforce/main/default/flows/Compartir_Opps_Relacionadas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Agregar_a_OppListShare</name>
        <label>Agregar a OppShareList</label>
        <locationX>1172</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>oppShareList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_OppShare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_a_OppShareList</name>
        <label>Agregar a OppShareList</label>
        <locationX>1172</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>oppShareList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>El_nuevo_Coordenador_tiene_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Borrar_Coordenador</name>
        <label>Borrar Coordenador</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Coordenador</name>
        <label>Guardar Coordenador</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenador.CoordenadorBrasmax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenador.CoordenadorBrasmax__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Coordenador2</name>
        <label>Guardar Coordenador</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenador.CoordenadorNeogen__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenador.CoordenadorNeogen__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Coordenador3</name>
        <label>Guardar Coordenador</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenador.CoordenadorDonMario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenador.CoordenadorDonMario__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Coordenador4</name>
        <label>Guardar Coordenador</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenador.CoordenadorDagma__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenador.CoordenadorDagma__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Coordenador5</name>
        <label>Guardar Coordenador</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenador.CoordenadorLicencas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenador.CoordenadorLicencas__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Coordenador6</name>
        <label>Guardar Coordenador</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoordenadorDaConta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoordenadorDaConta__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OppShare_antiguas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Coordenador7</name>
        <label>Guardar Coordenador</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoordenadorDaConta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CoordenadorDaConta__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OppShare_Coordenador</name>
        <label>OppShare Coordenador</label>
        <locationX>1172</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>oppShare.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoordenadorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppShare.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_OppShareList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OppShare_Manager</name>
        <label>OppShare Manager</label>
        <locationX>1172</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>oppShare.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppShare.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_OppListShare</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cambio_Marca_AccountId</name>
        <label>Cambió Marca o AccountId?</label>
        <locationX>1304</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Otros_cambios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marca__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Coordenador</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>El_nuevo_Coordenador_tiene_Manager</name>
        <label>El nuevo Coordenador tiene Manager?</label>
        <locationX>1304</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Crear_OppShare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManagerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppShare_Manager</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Coordenador</name>
        <label>Existe Coordenador?</label>
        <locationX>1304</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>El_nuevo_Coordenador_tiene_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CoordenadorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoordenadorId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoordenadorId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppShare_Coordenador</targetReference>
            </connector>
            <label>Sí, existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_OppShare_antiguas</name>
        <label>Hay OppShare antiguas?</label>
        <locationX>1304</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Existe_Coordenador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppShare_antiguas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eliminar_OppShare_Antiguas</targetReference>
            </connector>
            <label>Sí, hay</label>
        </rules>
    </decisions>
    <decisions>
        <name>Otros_cambios</name>
        <label>Otros cambios</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cambio_el_Coordenador1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoordenadorDaConta__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_Coordenador6</targetReference>
            </connector>
            <label>Cambió el Coordenador</label>
        </rules>
        <rules>
            <name>Cambio_el_Opp_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_Coordenador7</targetReference>
            </connector>
            <label>Cambió el Opp Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_marca_es_la_Opp</name>
        <label>Qué marca es la Opp?</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Borrar_Coordenador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Marca o AccountId nulas</defaultConnectorLabel>
        <rules>
            <name>Marca_Brasmax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRMX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Coordenador.CoordenadorBrasmax__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_Coordenador</targetReference>
            </connector>
            <label>Marca = Brasmax</label>
        </rules>
        <rules>
            <name>Marca_Neogen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Coordenador.CoordenadorNeogen__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_Coordenador2</targetReference>
            </connector>
            <label>Marca = Neogen</label>
        </rules>
        <rules>
            <name>Marca_DonMario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DSEM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Coordenador.CoordenadorDonMario__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_Coordenador3</targetReference>
            </connector>
            <label>Marca = DonMario</label>
        </rules>
        <rules>
            <name>Marca_Dagma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DAGMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Coordenador.CoordenadorDagma__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_Coordenador4</targetReference>
            </connector>
            <label>Marca = Dagma</label>
        </rules>
        <rules>
            <name>Marca_Licencas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LICENÇAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Coordenador.CoordenadorLicencas__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_Coordenador5</targetReference>
            </connector>
            <label>Marca = Licenças</label>
        </rules>
    </decisions>
    <description>Cuando cambia Marca__c o AccountId en una Opportunity, actualiza su campo Coordenador y modifica la visibilidad del registro a través de Opportunity Share.</description>
    <interviewLabel>Compartir Opps Relacionadas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Update Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_OppShare</name>
        <label>Crear OppShare</label>
        <locationX>1304</locationX>
        <locationY>2495</locationY>
        <inputReference>oppShareList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Eliminar_OppShare_Antiguas</name>
        <label>Eliminar OppShare Antiguas</label>
        <locationX>1172</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Existe_Coordenador</targetReference>
        </connector>
        <inputReference>OppShare_antiguas</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Buscar_Coordenador</name>
        <label>Buscar Coordenador</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Que_marca_es_la_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CoordenadorBrasmax__c</queriedFields>
        <queriedFields>CoordenadorDagma__c</queriedFields>
        <queriedFields>CoordenadorDonMario__c</queriedFields>
        <queriedFields>CoordenadorNeogen__c</queriedFields>
        <queriedFields>CoordenadorLicencas__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OppShare_antiguas</name>
        <label>OppShare antiguas</label>
        <locationX>1304</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_OppShare_antiguas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Coordenador</name>
        <label>Update Coordenador</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>OppShare_antiguas</targetReference>
        </connector>
        <inputAssignments>
            <field>CoordenadorDaConta__c</field>
            <value>
                <elementReference>CoordenadorId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cambio_Marca_AccountId</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CoordenadorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityShare</objectType>
    </variables>
    <variables>
        <name>oppShareList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityShare</objectType>
    </variables>
</Flow>
