Salesforce/main/default/flows/Opportunity_Insert_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Agregar_a_OppShareList</name>
        <label>Agregar a OppShareList</label>
        <locationX>578</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>oppShareList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_OppShare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_a_OppShareList1</name>
        <label>Agregar a OppShareList</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>oppShareList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>El_nuevo_Coordenador_tiene_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Coordenador2</name>
        <label>Guardar Coordenador</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenadores.CoordenadorDagma__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenadores.CoordenadorDagma__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completar_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_CoordenadorId</name>
        <label>Guardar CoordenadorId</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenadores.CoordenadorBrasmax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenadores.CoordenadorBrasmax__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completar_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_CoordenadorId2</name>
        <label>Guardar CoordenadorId</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenadores.CoordenadorNeogen__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenadores.CoordenadorNeogen__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completar_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_CoordenadorId3</name>
        <label>Guardar CoordenadorId</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenadores.CoordenadorDonMario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenadores.CoordenadorDonMario__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completar_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_CoordenadorId4</name>
        <label>Guardar CoordenadorId</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenadores.CoordenadorLicencas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenadores.CoordenadorLicencas__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completar_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OppShare_Coordenador</name>
        <label>OppShare Coordenador</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>oppShare.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoordenadorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppShare.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_OppShareList1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OppShare_Manager</name>
        <label>OppShare Manager</label>
        <locationX>578</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>oppShare.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppShare.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_OppShareList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>El_coordenador_es_el_Owner_de_la_Opp</name>
        <label>El coordenador es el Owner de la Opp?</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>El_nuevo_Coordenador_tiene_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sí</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CoordenadorId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoordenadorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppShare_Coordenador</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>El_nuevo_Coordenador_tiene_Manager</name>
        <label>El nuevo Coordenador tiene Manager?</label>
        <locationX>710</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Crear_OppShare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManagerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppShare_Manager</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_marca_es_la_Opp</name>
        <label>Qué marca es la Opp?</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Marca_Brasmax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRMX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Coordenadores.CoordenadorBrasmax__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_CoordenadorId</targetReference>
            </connector>
            <label>Marca = Brasmax</label>
        </rules>
        <rules>
            <name>Marca_Neogen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Coordenadores.CoordenadorNeogen__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_CoordenadorId2</targetReference>
            </connector>
            <label>Marca = Neogen</label>
        </rules>
        <rules>
            <name>Marca_Dagma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DAGMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Coordenadores.CoordenadorDagma__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_Coordenador2</targetReference>
            </connector>
            <label>Marca = Dagma</label>
        </rules>
        <rules>
            <name>Marca_DonMario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DSEM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Coordenadores.CoordenadorDonMario__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_CoordenadorId3</targetReference>
            </connector>
            <label>Marca = DonMario</label>
        </rules>
        <rules>
            <name>Marca_Licencas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LICENÇAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Coordenadores.CoordenadorLicencas__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_CoordenadorId4</targetReference>
            </connector>
            <label>Marca = Licencas</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity Insert Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Coordenador Update (OppInsert)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_OppShare</name>
        <label>Crear OppShare</label>
        <locationX>710</locationX>
        <locationY>1823</locationY>
        <inputReference>oppShareList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Coordenadores</name>
        <label>Buscar Coordenadores</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Que_marca_es_la_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CoordenadorBrasmax__c</queriedFields>
        <queriedFields>CoordenadorDagma__c</queriedFields>
        <queriedFields>CoordenadorDonMario__c</queriedFields>
        <queriedFields>CoordenadorLicencas__c</queriedFields>
        <queriedFields>CoordenadorNeogen__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Completar_Coordenador</name>
        <label>Completar Coordenador</label>
        <locationX>710</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>El_coordenador_es_el_Owner_de_la_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>CoordenadorDaConta__c</field>
            <value>
                <elementReference>CoordenadorId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Coordenadores</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Coordenador</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>CoordenadorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityShare</objectType>
    </variables>
    <variables>
        <name>oppShareList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityShare</objectType>
    </variables>
</Flow>
