Salesforce/main/default/main/default/flows/Actualizar_Opps_Relacionadas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Agregar_a_OppsToUpdate</name>
        <label>Agregar a OppsToUpdate</label>
        <locationX>924</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>OppsToUdpate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOpps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cambiar_Coordenador_Brasmax</name>
        <label>Cambiar Coordenador Brasmax</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>LoopOpps.CoordenadorDaConta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.CoordenadorBrasmax__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_OppsToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cambiar_Coordenador_Dagma</name>
        <label>Cambiar Coordenador Dagma</label>
        <locationX>1056</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>LoopOpps.CoordenadorDaConta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.CoordenadorDagma__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_OppsToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cambiar_Coordenador_DonMario</name>
        <label>Cambiar Coordenador DonMario</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>LoopOpps.CoordenadorDaConta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.CoordenadorDonMario__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_OppsToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cambiar_Coordenador_Licencas</name>
        <label>Cambiar Coordenador Licenças</label>
        <locationX>1320</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>LoopOpps.CoordenadorDaConta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.CoordenadorLicencas__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_OppsToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cambiar_Coordenador_Neogen</name>
        <label>Cambiar Coordenador Neogen</label>
        <locationX>792</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>LoopOpps.CoordenadorDaConta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.CoordenadorNeogen__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_OppsToUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Que_marca_es_la_opp</name>
        <label>Qué marca es la Opp?</label>
        <locationX>924</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>LoopOpps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Marca_Brasmax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOpps.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRMX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Coordenadores_Modificados</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BRMX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambiar_Coordenador_Brasmax</targetReference>
            </connector>
            <label>Marca = Brasmax</label>
        </rules>
        <rules>
            <name>Marca_DonMario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOpps.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DSEM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Coordenadores_Modificados</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DSEM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambiar_Coordenador_DonMario</targetReference>
            </connector>
            <label>Marca = DonMario</label>
        </rules>
        <rules>
            <name>Marca_Neogen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOpps.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Coordenadores_Modificados</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NEOG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambiar_Coordenador_Neogen</targetReference>
            </connector>
            <label>Marca = Neogen</label>
        </rules>
        <rules>
            <name>Marca_Dagma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOpps.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DAGMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Coordenadores_Modificados</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DAGMA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambiar_Coordenador_Dagma</targetReference>
            </connector>
            <label>Marca = Dagma</label>
        </rules>
        <rules>
            <name>Marca_Licencas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOpps.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LICENÇAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Coordenadores_Modificados</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LICENÇAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambiar_Coordenador_Licencas</targetReference>
            </connector>
            <label>Marca = Licenças</label>
        </rules>
    </decisions>
    <interviewLabel>Actualizar Opps Relacionadas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar Opps Relacionadas</label>
    <loops>
        <name>LoopOpps</name>
        <label>Loop Opps</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>OppsRelacionadas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Que_marca_es_la_opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>OppsRelacionadas</name>
        <label>Opps Relacionadas</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOpps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opps</name>
        <label>Update Opps</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <inputReference>OppsToUdpate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OppsRelacionadas</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Coordenadores_Modificados</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppsToUdpate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
