Salesforce/main/default/main/default/flows/Contrato_c_Insert_Update_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Borrar_Coordenador</name>
        <label>Borrar Coordenador</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Coordenador_Brasmax</name>
        <label>Guardar Coordenador Brasmax</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenadores.CoordenadorBrasmax__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Coordenador_Dagma</name>
        <label>Guardar Coordenador Dagma</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenadores.CoordenadorDagma__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Coordenador_DonMario</name>
        <label>Guardar Coordenador DonMario</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenadores.CoordenadorDonMario__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Coordenador_Licencas</name>
        <label>Guardar Coordenador Licenças</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenadores.CoordenadorLicencas__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Coordenador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Coordenador_Neogen</name>
        <label>Guardar Coordenador Neogen</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CoordenadorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Coordenadores.CoordenadorNeogen__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Coordenador</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cambio_Marca_o_AccountId</name>
        <label>Cambió Marca o AccountId?</label>
        <locationX>1172</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_cambio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sociedad__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Multiplicador__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Coordenadores</targetReference>
            </connector>
            <label>Sí, cambió</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_marca_es_el_contrato</name>
        <label>Qué marca es el contrato?</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Borrar_Coordenador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Marca_Brasmax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sociedad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRMX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Coordenadores.CoordenadorBrasmax__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_Coordenador_Brasmax</targetReference>
            </connector>
            <label>Marca = Brasmax</label>
        </rules>
        <rules>
            <name>Marca_DonMario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sociedad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DSEM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Coordenadores.CoordenadorDonMario__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_Coordenador_DonMario</targetReference>
            </connector>
            <label>Marca = DonMario</label>
        </rules>
        <rules>
            <name>Marca_Neogen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sociedad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Coordenadores.CoordenadorNeogen__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_Coordenador_Neogen</targetReference>
            </connector>
            <label>Marca = Neogen</label>
        </rules>
        <rules>
            <name>Marca_Dagma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sociedad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DAGMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Coordenadores.CoordenadorDagma__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_Coordenador_Dagma</targetReference>
            </connector>
            <label>Marca = Dagma</label>
        </rules>
        <rules>
            <name>Marca_Licencas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sociedad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LICENÇAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Coordenadores.CoordenadorLicencas__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_Coordenador_Licencas</targetReference>
            </connector>
            <label>Marca = Licenças</label>
        </rules>
    </decisions>
    <description>Actualiza el LookUp hacia el User Coordenador cuando se crea un registro o cuando se modifican Marca o AccountId.</description>
    <interviewLabel>Contrato__c Insert-Update Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contrato__c Insert Update Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Coordenadores</name>
        <label>Buscar Coordenadores</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Que_marca_es_el_contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Multiplicador__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CoordenadorBrasmax__c</queriedFields>
        <queriedFields>CoordenadorDonMario__c</queriedFields>
        <queriedFields>CoordenadorNeogen__c</queriedFields>
        <queriedFields>CoordenadorDagma__c</queriedFields>
        <queriedFields>CoordenadorLicencas__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Coordenador</name>
        <label>Update Coordenador</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Coordenador__c</field>
            <value>
                <elementReference>CoordenadorId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cambio_Marca_o_AccountId</targetReference>
        </connector>
        <object>Contrato__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CoordenadorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
