Salesforce/main/default/main/default/flows/Em_Andamento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Sobre_la_fecha</name>
        <label>Sobre la fecha</label>
        <locationX>168</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Fecha_en_dia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Time__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acutalizar_Status</targetReference>
            </connector>
            <label>Fecha en dia</label>
        </rules>
        <rules>
            <name>Fecha_Vencida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End_Time__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plano_de_Auditoria__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em andamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Status_Concluido</targetReference>
            </connector>
            <label>Fecha Vencida</label>
        </rules>
    </decisions>
    <interviewLabel>Em Andamento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Em Andamento</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_Status_Concluido</name>
        <label>Actualizar Status Concluido</label>
        <locationX>277</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Actualizar_Visita_Vencida</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plano_de_Auditoria__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Concluido</stringValue>
            </value>
        </inputAssignments>
        <object>Plano_de_Auditoria__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Visita_Vencida</name>
        <label>Actualizar Visita Vencida</label>
        <locationX>277</locationX>
        <locationY>574</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Concluída</stringValue>
            </value>
        </inputAssignments>
        <object>Calendar_Event__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Acutalizar_Status</name>
        <label>Acutalizar Status</label>
        <locationX>73</locationX>
        <locationY>420</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plano_de_Auditoria__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Em andamento</stringValue>
            </value>
        </inputAssignments>
        <object>Plano_de_Auditoria__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Sobre_la_fecha</targetReference>
        </connector>
        <object>Calendar_Event__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-03-15</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IdDeLosPlanos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Calendar_Event__c</objectType>
    </variables>
</Flow>
